*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cards-height: 350px;
}
.nav{
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.nav a{
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}
.face{
    background-image: url(/assets/images/3678343.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.face h1{
    position: relative;
    font-size: 200px;
    color: white;
    text-shadow: 4px 4px 20px #000000;
}
/*End Img*/

/*photos*/
.cards-row{
    width: 100%;
    display: flex;
    height: 400px;
    margin-top: 50px;
    justify-content: space-evenly;

}

.photo1{
    width: 25%;
    height: 350px;
    background-image: url(/assets/images/1.jpg);
    background-size: cover;
    margin: 10px;
    float: left;
}
.photo2{
    width: 25%;
    height: 350px;
    background-image: url(/assets/images/1.jpg);
    background-size: cover;
    margin: 10px;
    float: left;
}
.photo3{
    width: 25%;
    height: 350px;
    background-image: url(/assets/images/1.jpg);
    background-size: cover;
    margin: 10px;
    float: left;
}
/*photos*/

/*Start Cards*/
.cards1{
    width: 100%;
    height: 400px;
}
.card1{
    background-image: url(/assets/images/cliffscard.jpg);
    background-size: cover;
    width: 50%;
    float: left;
    height: 400px;
    transition: 0.5s;
}
.card1:hover{
    background-color: aliceblue;
    opacity: 0.6;
}

.cards2{
    width: 100%;
    height: 400px;
}
.card2{
    background-image: url(/assets/images/cliffs.jpg);
    background-size: cover;
    float: right;
    width: 50%;
    height: 400px;
    transition: 0.5s;
}

.card2:hover{
    opacity: 0.6;
}








/*End Cards*/