*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Nav*/
.nav{
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.nav a{
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}
/*End Nav*/

/*Castles*/
.castles{
    background-image: url(/assets/images/5\ Dunguaire\ Castle.jpg);
    background-size: cover;
    height: 900px;
    box-shadow: 2px 2px 30px #000000;
}
.castles-text{
    position: relative;
    padding: 100px 0 0 100px;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 10px 20px black;
}
.castles-text p{
    font-size: 50px;
    text-shadow: 4px 4px 30px #00000093;
}
.castle:hover{
    text-shadow: 4px 4px 30px #000000;
    text-decoration: underline;
}
.castle1{
    width: 300px;
    height: 200px;
    color: aliceblue;
    text-align: center;
    background-image: url(/assets/images/8\ dublin\ castle.jfif);
    background-size: cover;
    margin:  300px 0 0 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px #000000;
    float: left;
    transition: 0.3s;
}
.castle2{
    width: 300px;
    height: 200px;
    color: aliceblue;
    text-align: center;
    background-image: url(/assets/images/2.1AshfordCastle.jpg);
    background-size: cover;
    margin: 300px 0 0 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px #000000;
    float: left;
    transition: 0.3s;
}
.castle3{
    width: 300px;
    height: 200px;
    color: aliceblue;
    text-align: center;
    background-image: url(/assets/images/3.2DunluceCastle.jpg);
    background-size: cover;
    margin: 300px 0 0 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px #000000;
    float: left;
    transition: 0.3s;
}
.castle4{
    width: 300px;
    height: 200px;
    color: aliceblue;
    text-align: center;
    background-image: url(/assets/images/4\ Kilkenny\ Castle.jpg);
    background-size: cover;
    margin: 300px 0 0 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px #000000;
    float: left;
    transition: 0.3s;
}
/*End Castles*/

/*short history*/
.shorthistory{
    width: 80%;
    height: 600px;
    margin: -50px 0 0 10% ;
    align-items: center;
    justify-content: center;
    background-color: rgba(168, 164, 164, 0.223);
    box-shadow: 2px 2px 10px #000000;
    transition: 0.3s;
}
.shorthistory:hover{
    transform: scale(1.1);
}
.short{
    margin: 150px 0 0 0 ;
    height: 500px;
    padding: 50px;
}
.shortcontent{
    padding: 40px;
    margin: 0 0 0 90px;
    float: left;
    background-color: rgba(27, 28, 28, 0.375);
    width: 600px;
    height: 500px;
}
.short img{
    width:  700px;
    height: 500px;
    float: left;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000000;
    transition: 0.3s;
}
img:hover{
    transform: rotate(2deg);
    opacity: 0.9;
}
/*end short history*/


/*photos-content*/

.photos-content{
    background-color: aqua;
    margin: 100px 0 0 0 ;
}


/*end photos-content*/











/*photos*/
.cards-row{
    width: 100%;
    display: flex;
    height: 400px;
    margin: 10px ;
    transition: 0.3s;
    margin-top: 100px;
    justify-content: center;
}
.photo1{
    width: 15%;
    height: 350px;
    background-image: url(/assets/images/1.jpg);
    background-size: cover;
    float: left;
    overflow: hidden;
    border-radius: 8px;
    transition: .3s;
    margin: 10px;
}
.photo1 h1 {
    margin-top: 300px;
    color: #000000;
    padding:  5px 0 0 15px;
    background-color: aliceblue;
    height: 300px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.8;
}
.photo1 a{
    text-decoration: none;
}
.photo1 p{
    position: relative;
    transition: 0.5s;
    color: #000000;
    padding: 15px;
}
.photo1:hover p{
    transform: translateY(-460px);
}
.photo1:hover{
    color: #000000;
    transform: scale(1.1);
    cursor: pointer;
}
.photo1:hover h1{
    transform: translateY(-200px);
}
.photo2{
    width: 15%;
    height: 350px;
    background-image: url(/assets/images/2.jpg);
    background-size: cover;
    float: left;
    overflow: hidden;
    border-radius: 8px;
    transition: .3s;
    margin: 10px;
}
.photo2 h1 {
    margin-top: 300px;
    color: #000000;
    padding:  5px 0 0 15px;
    background-color: aliceblue;
    height: 300px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.8;
}
.photo2 a{
    text-decoration: none;
}
.photo2 p{
    position: relative;
    transition: 0.5s;
    color: #000000;
    padding: 15px;
}
.photo2:hover p{
    transform: translateY(-460px);
}
.photo2:hover{
    color: #000000;
    transform: scale(1.1);
    cursor: pointer;
}
.photo2:hover h1{
    transform: translateY(-200px);
}
.photo3{
    width: 15%;
    height: 350px;
    background-image: url(/assets/images/3.jpg);
    background-size: cover;
    float: left;
    overflow: hidden;
    border-radius: 8px;
    transition: .3s;
    margin: 10px;
}
.photo3 h1 {
    margin-top: 300px;
    color: #000000;
    padding:  5px 0 0 15px;
    background-color: aliceblue;
    height: 300px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.8;
}
.photo3 a{
    text-decoration: none;
}
.photo3 p{
    position: relative;
    transition: 0.5s;
    color: #000000;
    padding: 15px;
}
.photo3:hover p{
    transform: translateY(-460px);
}
.photo3:hover{
    color: #000000;
    transform: scale(1.1);
    cursor: pointer;
}
.photo3:hover h1{
    transform: translateY(-200px);
}
.photo4{
    width: 15%;
    height: 350px;
    background-image: url(/assets/images/flags.jpg);
    background-size: cover;
    float: left;
    overflow: hidden;
    border-radius: 8px;
    transition: .3s;
    margin: 10px;
}
.photo4 h1 {
    margin-top: 300px;
    color: #000000;
    padding:  5px 0 0 15px;
    background-color: aliceblue;
    height: 300px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.8;
}
.photo4 a{
    text-decoration: none;
}
.photo4 p{
    position: relative;
    transition: 0.5s;
    color: #000000;
    padding: 15px;
}
.photo4:hover p{
    transform: translateY(-460px);
}
.photo4:hover{
    color: #000000;
    transform: scale(1.1);
    cursor: pointer;
}
.photo4:hover h1{
    transform: translateY(-200px);
}
.photo5{
    width: 15%;
    height: 350px;
    background-image: url(/assets/images/irishflag.jpg);
    background-size: cover;
    float: left;
    overflow: hidden;
    border-radius: 8px;
    transition: .3s;
    margin: 10px;
}
.photo5 h1 {
    margin-top: 300px;
    color: #000000;
    padding:  5px 0 0 15px;
    background-color: aliceblue;
    height: 300px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.8;
}
.photo5 a{
    text-decoration: none;
}
.photo5 p{
    position: relative;
    transition: 0.5s;
    color: #000000;
    padding: 15px;
}
.photo5:hover p{
    transform: translateY(-460px);
}
.photo5:hover{
    color: #000000;
    transform: scale(1.1);
    cursor: pointer;
}
.photo5:hover h1{
    transform: translateY(-200px);
}
/*Photos*/





/*Footer*/
.footer{
    background-color: brown;
}
/*Footer*/


